<div class="myContainer">
  <p class="myTitle">Create Ticket</p>
  <div class="myRow sectionInput">
    <div class="myCol-3">
      <label for="owner" class="myLabel">owner</label>
      <input id="owner" type="text" [(ngModel)]="comment.owner" class="myInput">
    </div>
    <div class="myCol-3">
      <label for="content" class="myLabel">content</label>
      <input id="content" type="text" [(ngModel)]="comment.content" class="myInput">
    </div>
    <div class="myCol-3">
      <label for="metadata" class="myLabel">metadata</label>
      <input id="metadata" type="text" [(ngModel)]="comment.metadata" class="myInput">
    </div>
  </div>
  <div class="myRow">
    <div class="myCol-3">
      <button (click)="createComment()" class="myButton registerButton">Create Comment</button>
      <button routerLink="/Tickets" class="myButton backButton">Back</button>
    </div>
  </div>
</div>
