@import '~ngx-toastr/toastr.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("/assets/fonts/Questrial-Regular.ttf");
  font-family: myFont;
}
html,body{
  width: 100%;
  height: 100%;
  background: white;
  background-size: cover;
  font-family: myFont,serfi;
}
.registerButton{
  margin-bottom: 20px;
}
.myContainer{
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*My Cols*/

.myCol-4{
  width: 25%;
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 10px;
}
.myCol-5{
  width: calc(100% / 5);
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
}
.myCol-3{
  width: calc(100% / 3);
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
}
.myCol-10{
  width: calc(100% / 10);
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
}
.myRow{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.myInput{
  width: 100%;
  height: 33px;
  border: 1px solid #eee;
  box-shadow: none;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.myTextArea{
  width: 100%;
  height: 80px;
  border: 1px solid #eee;
  box-shadow: none;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  position: relative;
  top: 20px;
  resize: none;
}
.myLabel{
  font-size: 15px;
  color: white;
  line-height: 2;
}
.myButton{
  width: 150px;
  height: 33px;
  background: #2196f3;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
  0px 2px 2px 0px rgba(0,0,0,0.14),
  0px 1px 5px 0px rgba(0,0,0,0.12);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button,input,select,textarea{
  outline: none;

}
.fullWidtButton{
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.backButton{
  background: #ed6663;
  margin-left: 10px;
}
.myTitle{
  font-family: myFont;
  text-align: center;
  color: white;
}
dp-date-picker.dp-material .dp-picker-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%!important;
  height: 33px!important;
  border: 1px solid #eee;
  box-shadow: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
dp-date-picker{
  display: block!important;
}
@media screen and (max-width: 1000px) {

  .ticketsList{
    height: auto;
  }
  .myCol-5{
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .myCol-3{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {

  .myCol-5{
    width: 50%;
  }
}
