.content-section{
  width: 100%;
  height: calc(100% - 110px);
  background: url("../../assets/images/background.jpg") center;
  background-size: cover;
  overflow: auto;
  padding: 20px 10px;
  box-sizing: border-box;
}
