<div class="myContainer">
  <div class="filterSection">
    <div class="myRow">
      <div class="myCol-5">
        <label class="myLabel" for="Owner">Owner</label>
        <input id="Owner" class="myInput" type="text">
      </div>
      <div class="myCol-5">
        <label class="myLabel" for="Level">Level</label>
        <input id="Level" class="myInput" type="text">

      </div>
      <div class="myCol-5">
        <label class="myLabel" for="FromDate">FromDate</label>
<!--        <input id="FromDate" class="myInput" type="text">-->
        <dp-date-picker
          dir="rtl"
          id="FromDate"
          [(ngModel)]="fromDate"
          mode="day"
          placeholder="تاریخ"
          theme="dp-material">
        </dp-date-picker>
      </div>
      <div class="myCol-5">
        <label class="myLabel" for="toDate">toDate</label>
        <dp-date-picker
          dir="rtl"
          id="toDate"
          [(ngModel)]="toDate"
          mode="day"
          placeholder="تاریخ"
          theme="dp-material">
        </dp-date-picker>
      </div >
      <div class="myCol-5">
        <button class="myButton">Search</button>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
  <div class="ticketsList">
    <div class="myRow">
      <div class="myCol-5">
        <button routerLink="/Create-Ticket" class="myButton">Add Ticket</button>
      </div>

    </div>
    <div class="myRow">
      <div class="myCol-3">
        <div class="cardTicket">
          <div class="headerTicket">
            <p>Ticket test</p>
          </div>
          <div class="contentTicket">
              <div class="colInfo-m">
                <p>owner: <span>mohammad@gmail.com</span></p>
              </div>
              <div class="colInfo-m">
                <p>subject: <span>test ticket</span></p>
              </div>
              <div class="colInfo-m">
                <p>content: <span>mohammad@gmail.com</span></p>
              </div>
              <div class="colInfo-m">
                <p>importanceLevel: <span>Low</span></p>
              </div>
            <div class="colInfo-l">
              <p>description: <span>Low</span></p>
            </div>
          </div>
          <div class="footerTicket">
            <button [routerLink]="['/Comment',3]" class="myButton fullWidtButton">comments</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

