.filterSection{
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
}
.ticketsList{
  width: 100%;
  height: calc(100% - 80px);
  box-sizing: border-box;
  /*border: 1px solid red;*/
  padding: 10px 0;
}
.cardTicket{
  width: 100%;
  height: 175px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.headerTicket{
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2196f3;
  z-index: 2;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.contentTicket{
  width: 100%;
  height: calc(100% - 75px);
  box-sizing: border-box;
  padding:10px;
  z-index: 1;
}
.footerTicket{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
.headerTicket p{
  text-align: center;
  font-size: 15px;
  color: white;
}
.colInfo-m{
  width: calc(100% / 2);
  height: auto;
  display: inline-block;
  margin-bottom: 10px;
}
.colInfo-l{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 10px;
}
.colInfo-m p{
  word-break: break-all;
  font-size: 13px;
  font-weight: bolder;
  width: 100%;
}
.colInfo-m p span{
  font-weight: lighter;
}

@media screen and (max-width: 1000px) {
  .filterSection {
    height: auto;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px){
  .colInfo-m{
    width: 100%;
    display: block;
  }
}
