.footer-section{
  width: 100%;
  height: 50px;
  background: #778083;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.footer-section p{
  color: white;
  text-align: left;
  font-size: 16px;
}
