<div class="myContainer">
  <p class="myTitle">Create Ticket</p>
  <div class="myRow sectionInput">
    <div class="myCol-3">
      <label for="issuer" class="myLabel">issuer</label>
      <input id="issuer" type="text" [(ngModel)]="ticket.issuer" class="myInput">
    </div>
    <div class="myCol-3">
      <label for="owner" class="myLabel">owner</label>
      <input id="owner" type="text" [(ngModel)]="ticket.owner" class="myInput">
    </div>
    <div class="myCol-3">
      <label for="subject" class="myLabel">subject</label>
      <input id="subject" type="text" [(ngModel)]="ticket.subject" class="myInput">
    </div>
    <div class="myCol-3">
      <label for="content" class="myLabel">content</label>
      <input id="content" type="text" [(ngModel)]="ticket.content" class="myInput">
    </div>
    <div class="myCol-3">
      <label for="importanceLevel" class="myLabel">importanceLevel</label>
      <select  id="importanceLevel" class="myInput" [(ngModel)]="ticket.importanceLevel">
        <option value="LOW">LOW</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="HIGH">HIGH</option>
        <option value="CRITICAL ">CRITICAL</option>
      </select>
    </div>
    <div class="myCol-3">
      <label for="metadata" class="myLabel">metadata</label>
      <textarea  id="metadata"  class="myTextArea" [(ngModel)]="ticket.metadata" ></textarea>
    </div>
  </div>
  <div class="myRow">
    <div class="myCol-3">
      <button (click)="createTicket()" class="myButton registerButton">Create Ticket</button>
      <button routerLink="/Tickets" class="myButton backButton">Back</button>
    </div>

  </div>
</div>


